html {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    background-color: #dde5ff;
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 4px 3px 1px #ffee00;
  }

  p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }

  img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #f3ebd9;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }